<html>
	<title> New Normal PH </title>
	<script> </script>
	<body>
		<h1 style = "font-color:blue; font-size:22px; font-style:bold;" > 
			Inter-Provincial Tourist Destination Information Sheet
		</h1>
		<form method="POST" action="/">
			<label> Tourist Personal Information </label> <br>
			<input 
				type = "text"
				id = "idName"
				name = "idName" 
				placeholder = 'Full Name'
				/> <br>
			<input 
				type = "text"
				id = "idUniCode"
				name = "idUniCode"
				placeholder = 'Swab Test Result Code'
				/> <br>
			<input
				type = "text"
				id = "idLocEntry"
				name = "idLocEntry"
				placeholder = 'Preferred Local Destination'
				/> <br>

			<!-- <input
				type = "week"
				id = "idDate"
				name = "idDate"
				label for="idDate">Choose Your Suggested Week </label><br>
				/> <br>
			 <form>
				  <input type="radio" id="idPurpose" name="idPurpose" value="Home">
				  <label for="male">Home</label><br>
				  <input type="radio" id="idPurpose" name="idPurpose" value="Business">
				  <label for="female">Business</label><br>
				  <input type="radio" id="idPurpose" name="idPurpose" value="Vacation">
				  <label for="other">Vacation</label>
				  <input type="radio" id="idPurpose" name="idPurpose" value="Other">
				  <label for="other">Other</label>
				</form>  -->
			<input 
				type = "submit"
				id = "btnConfirm"
				name = "btnConfirm"
				style = "color: blue; background-color: lightblue"
				value = "Confirm"
				/>
				{% csrf_token %}
		</form>
		<table id="inList" name ="inList">
			{% for item in newTouristName %}
			<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
			{% endfor %}
		</table>
		</body>
</html>
