<html>
	<title> CoVid-19 Enhanced Local Travel Registration </title>
	<script> </script>
	<body>
		<h1 style = "font-color:blue; font-size:22px; font-style:bold;" > 
			Enhanced Local Travel Registration in compliance to CoVid-19 restrictions
		</h1>
		<form method="POST">
			<label> Tourist Personal Information </label> <br>
			<input 
				type = "text"
				id = "idName"
				name = "idName" 
				placeholder = 'Full Name'
				/> <br>
			<input 
				type = "text"
				id = "idUniCode"
				name = "idUniCode"
				placeholder = 'Swab Test Result Code'
				/> <br>
			<input
				type = "text"
				id = "idLocEntry"
				name = "idLocEntry"
				placeholder = 'Preferred Local Destination'
				/> <br>
			<input 
				type = "submit"
				id = "btnConfirm"
				name = "btnConfirm"
				style = "color: blue; background-color: lightblue"
				value = "Confirm"
				/>
				{% csrf_token %}
		</form>
		<table id="inList" name ="inList">
			<tr>
				<td style = "font-size:20px; font-style:bold;">1: {{ newTouristName }}</td>
				<td > {{ newSwabCode }}</td>
				<td > {{ newDestination }}</td>
			</tr>
		</table>
		</body>
</html>